.leftMenu {
  float: left; /*Задаем обтекание*/
  line-height: 10px;/*Высота строки +  верт. центрирования текста*/
  /*font-size: 40px;*/
  background: dodgerblue;
  color: white;
  margin: 10px;
  width: 100px; /*Фиксируем ширину блока*/
  /*margin-right: 10px;*/
  text-align: center; /*Центрируем текст по горизонтали*/
}

li {
  list-style-type: none; /* Убираем маркеры */
}

ol li {
  margin-left: -80px;
}

