.leftMenu {
  float: left; /*Задаем обтекание*/
  line-height: 50px;/*Высота строки +  верт. центрирования текста*/
  /*font-size: 40px;*/
  margin-left: -8px;
  padding-top: 150px;

  width: 110px;
  height: 1000px;

  text-align: center; /*Центрируем текст по горизонтали*/
  background: #203646;
}

li {
  list-style-type: none; /* Убираем маркеры */
  margin: 10px;
}

ol li {
  margin-left: -80px;

}

a {
  text-decoration: none;
}

.container {
  margin-left: 110px;
  padding: 10px;
  /*background: #3B3B3B;*/
  color: antiquewhite;
}

.header {
  background-image: linear-gradient(to right,#263339,#074f6f 46%,#074f6f 56%,#263339);
 padding-top: 20px;
 padding-bottom: 20px;
  margin-top: -8px;
  margin-right: -8px;
  margin-left: 92px;
}

h1 {}
